<div class="todos-wrapper">
    <div class="container">


    <div class="todo-item completed">
        <div class="check-box">
            <i class="material-icons-outlined">check</i>
        </div>
        <p class="todo-text">
            this is the todo text
        </p>
    </div>

    
    <div class="todo-item">
        <div class="check-box">
            <i class="material-icons-outlined">check</i>
        </div>
        <p class="todo-text">
            this is the todo text
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem labore eum maiores expedita incidunt, eaque, fugit temporibus hic officia nisi vitae minima culpa nulla id libero velit vel magnam!
        </p>
    </div>


</div>

</div>